@model Project_62133026.Models.CTGH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTGH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.soLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioHang.maGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioHang.maGH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPham.maLSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.maLSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maCTGH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
