<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="~/Scripts/JavaAdmin.js"></script>

    <style>
        #logo {
    width: 10%;
    height: 100%;
    padding-left: 20px;
    float: left;
}

    #logo img {
        padding-top: 20px;
        width: 80%;
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <div id="logo">
                <img src="~/Image/logo.jpg" alt="LOGO">
            </div>
            @Html.ActionLink("Guitar Shop", "#", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav flex-grow-1 mb-lg-auto ml-auto"
                    <li>@Html.ActionLink("HÓA ĐƠN", "", new { style = "text-decoration: none;" })</li>&nbsp;&nbsp;
                    <li>@Html.ActionLink("KHÁC HÀNG", "", new { style = "text-decoration: none;" })</li>&nbsp;&nbsp;
                    <li>@Html.ActionLink("NHÂN VIÊN", "", new { style = "text-decoration: none;" })</li>&nbsp;&nbsp;
                    <li>@Html.ActionLink("DOANH THU", "", new { style = "text-decoration: none;" })</li>&nbsp;&nbsp;
                    <li>@Html.ActionLink("ĐĂNG XUẤT", "", new { style = "text-decoration: none;" })</li>&nbsp;&nbsp;
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="w-50">
                &copy; @DateTime.Now.Year Tất cả các quyền được thực hiện bởi DMfood </br>
                Địa chỉ: 02 Nguyễn Đình Chiểu, Thành phố Nha Trang, Tỉnh Khánh Hòa, Việt Nam </br>
                Số điện thoại: 123-456-7890 
                Email: info@DMfood.com 
            </div>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
