@model IEnumerable<Project_62133026.Models.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 0;
}

<h2 class="text-center">KHÁCH HÀNG</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<div id="tbIndex" class="container">
    <table class="table table-bordered table-striped table-responsive" id="tbData">
        <thead>
            <tr style="text-align:center;">
                <th>STT</th>
                <th>Tên khách hàng</th>
                <th>Địa chỉ</th>
                <th>SĐT</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <th class="text-center" scope="row">
                    @{ i++;}
                    @i
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.tenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sdt)
                </td>
                
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.maKH }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.maKH }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.maKH })
                </td>
            </tr>
        }
    </table>
</div>
       
